target
.settings
.project
.apt_generated
.classpath
.factorypath
.idea
application.xml
/profiling/tmp
profiling/in.dat
profiling/out.dat
java7/tmp
jpa-new/--dbname.0.lck
jpa-new/--dbname.0.log
jpa-new/--dbname.0.properties
jpa-new/--dbname.0.script
jpa-new/WebContent/META-INF/MANIFEST.MF
Maven__junit_junit_4_11.xml
*.iml
/kata/assignment-weather/~$ather-assignment.doc
vendor