# A PR touching this path must be approved by a member of this group.
# Works in GitHub, GitLab, BitBucket ...


/src/test/resources/my-existing-openapi.json @elders
/src/test/java/victor/training/clean/ArchitectureTest.java @elders

# Victor, the existence of this file isn't this
# proof that you do not trust your colleagues?