# Any PR changing a file under these patterns
# has to be reviewed by someone from a given team .
# Works with GitHub, GitLab, BitBucket

/src/test/java/victor/training/clean/ArchitectureTest.java @architects