# make setters return this
lombok.accessors.chain=true

# copy @Value from private final fields to generated @RequiredArgsConstructor
lombok.copyableAnnotations+=org.springframework.beans.factory.annotation.Value

# allows Jackson to deserialize @Value
lombok.anyConstructor.addConstructorProperties=true